{{>header}}
<div class="content">
  {{#if data}}
    <table>
      <tr>
        {{#each headers}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
      {{#each data}}
        <tr>
          {{#each this}}
            <td>{{this}}</t>
          {{/each}}
        </tr>
      {{/each}}
    </table>
  {{else}}
      <div>Empty Data</div>
  {{/if}}

	<div class="ttd-section">
		<span>
			{{date}}
		</span>
		<span>Bupati Sorong</span>
		<span class="name-section">Petahana Yan Piet Moso</span>
	</div>
</div>