@tailwind base;
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}
@tailwind components;
@tailwind utilities;

.ql-editor {
  min-height: 188px;
}

@layer base {
  ul,
  ol {
    list-style: revert;
    margin-left: 2em;
  }
}
